<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h3 class="LogoGradient-text Mont text-center mb-4">MovieSense: Sentiment Analysis, Summarisation, Translation</h3>
    <div class="container">
        <!-- Input -->
        <div class=" input-section">
            <form action="/" method="post" class=" review-form">
                <textarea class=" shadow card p-3" id="reviewText" name="text"
                    placeholder="Write your movie reviews here." rows="11" required>{{ user_input }}</textarea>
                <div class="Mont buttons">
                    <input class="Mont custom-btn btn-4" type="submit" name="Analysis" value="Analysis">
                    <button class="Mont custom-btn btn-4" type="button"
                        onclick="clearTextAndHideMessage()">Reset</button>
                </div>
            </form>
        </div>

        <!-- Results -->
        <div class="result-section">
            <!-- Summary -->
            <div class="summary" id="summarySection">
                {% if summary %}
                <h5 class="Mont">Review Summary</h5>
                <p class="card shadow p-3">{{ summary }}</p>
                {% endif %}
            </div>

            <!-- Prediction -->
            <div class="sentiment" id="predictionSection">
                {% if prediction %}
                <h5><span class="Mont">Predicted Sentiment</span><br>
                    <span class="emoji">{{ prediction }}</span>
                </h5>
                {% else %}
                {% endif %}
            </div>
        </div>

        <!-- Translation -->
        <div class="translation" id="translationSection">
            {% if translation %} 
            <h5><span class="Mont">Translation to French</span><br>
                <p class="card shadow p-3 mt-2">{{ translation }}</p>
                {% endif %}
            </h5>
        </div>
    </div>

    <script>
        function clearTextAndHideMessage() {
            document.getElementById("reviewText").value = "";
            document.getElementById("summarySection").style.display = "none";
            document.getElementById("predictionSection").style.display = "none";
            document.getElementById("translationSection").style.display = "none";
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>