<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
<h2>MovieSense: Sentiment Analysis & Review Summarisation</h2>

<form action="/" method="post" class="review-form">
    <textarea id="reviewText" name="text" placeholder="Write your movie reviews here." rows="10" required>{{ user_input }}</textarea>
    <br><br>
    <input type="submit" name="Predict" value="Predict">
    <input type="submit" name="Summary" value="Summary">
    <button type="button" onclick="clearTextAndHideMessage()">Reset</button>
</form>
</div>

<div id="predictionMessage">
{% if prediction %}
    <div id="predictionMessage">
        <br><br>
        <h3>Predicted Sentiment: {{ prediction }}</h3>
    </div>
{% else %}
    <div id="predictionMessage" style="display: none;">
        <br><br>
        <h3></h3>
    </div>
{% endif %}

{% if summary %}
    <br><br>
    <h3>Review Summary:</h3>
    <p>{{ summary }}</p>
{% endif %}
</div>

<script>
    function clearTextAndHideMessage() {
        document.getElementById("reviewText").value = "";
        document.getElementById("predictionMessage").style.display = "none";
    }
</script>
</body>
</html>